script(type="text/javascript", src="/socket.io/socket.io.js")
script(type='text/javascript', src='../../lib/dependencies.js')
script(type='text/javascript', src='../../js/application.js')

//livereload script rendered
script(type='text/javascript', src='http://localhost:35729/livereload.js')
