/* line 1, ../../../app/client/sass/main.scss */
.pad-none {
  padding: 0;
}

/* line 5, ../../../app/client/sass/main.scss */
.margin-none {
  margin: 0;
}

/* line 9, ../../../app/client/sass/main.scss */
.pad-sm {
  padding: 5px;
}

/* line 13, ../../../app/client/sass/main.scss */
.pad-md {
  padding: 10px;
}

/* line 17, ../../../app/client/sass/main.scss */
.pad-lg {
  padding: 15px;
}

/* line 21, ../../../app/client/sass/main.scss */
.pad-xl {
  padding: 20px;
}

/* line 25, ../../../app/client/sass/main.scss */
.content {
  position: relative;
  top: 50px;
}

/* line 1, ../../../app/client/sass/_error-alert.scss */
.alert-header {
  position: relative;
  left: 0;
  right: 0;
  top: 50px;
  margin: 0;
  background-color: purple;
  color: white;
  display: block;
}

/* line 13, ../../../app/client/sass/_error-alert.scss */
.alert-header.ng-hide-add,
.alert-header.ng-hide-remove {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  display: block !important;
}

/* line 22, ../../../app/client/sass/_error-alert.scss */
.alert-header.ng-hide-remove,
.alert-header.ng-hide-add.ng-hide-add-active {
  line-height: 0;
  top: 0;
  opacity: 0;
}

/* line 29, ../../../app/client/sass/_error-alert.scss */
.alert-header.ng-hide-add,
.alert-header.ng-hide-remove.ng-hide-remove-active {
  line-height: 22px;
  top: 50px;
  opacity: 1;
}
